<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundProject.roll %> </title>
</head>
<body>
    <h1><%= foundProject.title %> </h1>
    <ul>
        <li>Assigned to: <%= foundProject.roll %> </li>
        <li>Mentor: <%= foundProject.mentor %> </li>
        <li>Deadline: <%= foundProject.deadline %> </li>
    </ul>
    <a href="/home">Full List</a>
    <a href="/home/<%= foundProject._id %>/edit ">Edit</a>
    <form action="/home/<%= foundProject._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>